<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<h1>Delete product</h1>
<p><a href="/blog">Blog list</a></p>
<form th:action="@{/delete/blog}" th:object="${blogs}" method="post">
    <label for="id"></label><input th:type="hidden" id="id" th:field="*{id}" class="form-control"/>
    <div class="form-group">
        <label for="tittle">Tittle:</label>
        <label id="tittle" th:text="${blogs.title}" class="form-control"></label>
    </div>
    <div class="form-group">
        <label for="category">Category:</label>
        <label id="category" th:text="${blogs.title}" class="form-control"></label>
    </div>
    <div class="form-group">
        <label for="tags">Tags:</label>
        <label id="tags" th:text="${blogs.tags}" class="form-control"></label>
    </div>
    <div class="form-group">
        <label for="image">Image:</label>
        <label id="image" th:text="${blogs.image}" class="form-control"></label>
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <label id="content" th:text="${blogs.description}" class="form-control"></label>
    </div>
    <div class="form-group">
        <label for="date">Date:</label>
        <label id="date" th:text="${blogs.date}" class="form-control"></label>
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <label id="author" th:text="${blogs.author}" class="form-control"></label>
    </div>
    <div class="form-group">
        <label for="status">Status:</label>
        <label id="status" th:text="${blogs.status}" class="form-control"></label>
    </div>
    <input type="submit" value="Delete" class="btn btn-success"/>
</form>
</body>
</html>